SITE_URL=https://www.gaming-panda.com

LARK_APP_ID=
LARK_APP_SECRET=
LARK_CONFIG_FILE_TOKEN=
LARK_UPDATE_RECORD_FILE_TOKEN=
LARK_CONTACT_FILE_TOKEN=

GITHUB_TOKEN=
GITHUB_USERNAME=Design@gaming-panda.com
GITHUB_TEST_REPO=kun-g/gmp_office
GITHUB_PROD_REPO=kun-g/gmp_office

VERCEL_DEPLOY_HOOK=
